h1{font-family: "Impact";}

.sitelink{
    width: 250px;
    border: 2px solid yellowgreen;
    font-weight: bold;
    background-color: rgba(240, 230, 140, 0.541);
}

ul{list-style-type: circle;}

a{text-decoration-line: none;}

.sitelink a:link{
    color: black;
}
.sitelink a:visited{
    color: black;
}
.sitelink a:hover{
    color: black;
    font-style: italic;
    text-shadow: 1px 1px 1px;
}

.list-text{
    font-family: "궁서체";
    color: green;
    text-decoration: underline wavy red;
}